# Grammar: jison
# -------------

default:

  deps: ['coffee:transpile:jison:grammar:default']

  title: 'Creating “goatee-script” jison grammar'

  defaults :
    indent : true
    moduleName: './grammar/jison'

  assets : [
    'src/grammar': [
      [
        'src/grammar/jison.coffee'
      ]
    ]
  ]

  replace : [
    [
      'grammar/jison.coffee'
      'grammar/jison'
    ]
  ]

  clean: [
    'src/grammar/jison.json'
  ]

  watch: true

  logger:
    before: 'Start creating the “goatee-script” grammar …'
    after: 'The “goatee-script” grammar has been created.'
    extname: '.json'
    showChange: true
